*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
}
.clear{clear: both;}
/* start nave bar  */

a{
    text-decoration: none;
    color: black;
}

.nav{
    margin: auto;
    width: 945px;
    height: 101.67px;

}

.l-navbar,.r-navbar,.num{
    margin-top: 25px;
    font-weight: 600;
    line-height: 1.5px;
    padding-inline-start: 40px;

}

nav.a{
    margin: 40px;
}
.l-navbar{
    position: relative;
    left:calc(90px + 123.52px) ;
    float: left;
}
.r-navbar{
    position: relative;
 
    float: left;
    left: 40px;

}
.num{
    position: relative;
   color: #4586d5;
    float:right;
    border: 3px;
    border-color:#fad110 ;
    font-family: "Mulish", sans-serif;
    font-size: 24px;
    font-weight: 700px;
    padding: 9px 30px 7px 30px;
    

}

.pos-hvac{
    position: relative;
    float: left;
    right: 270px; ;

}
.hvac{
    background-color: #142336;
    width: 180px;
    height: 100px;
   
    }

.hvac2{
    position: relative;
    top: 25%;
    width: 92px;
    height: 41px;
    margin: auto;
    
}

.home{
    margin-right:20px ;
    color: #4586d5;
}

.n{

    margin-right:30px ;
}
