*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
.clear{clear: both;}
/* start nave bar  */

a{
    text-decoration: none;
    color: black;
}

.nav{
    margin: auto;
    width: 945px;
    height: 101.67px;

}

.l-navbar,.r-navbar,.num{
    margin-top: 25px;
    font-weight: 600;
    line-height: 1.5px;
    padding-inline-start: 40px;

}


.l-navbar{
    position: relative;
    left:calc(230px + 123.52px) ;
    float: left;
    margin-top: 36px;
}
.r-navbar{
    position: relative;
    margin-top: 36px;
    float: left;
    left: 174px;

}
.num{
    width: 200px;
    height: 46px;
    position: absolute;
   color: #4586d5;
    float:right;
    border: 2px solid #fad110 ;
    font-family:'Mulish', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 21px 10px 7px 10px;
    text-align: right;
    left: 439px;
    top: 0px;
    

}

.pos-hvac{
    position: relative;
    float: left;
    right: 98px; ;

}
.hvac{
    background-color: #142336;
    width: 180px;
    height: 100px;
   
    }

.hvac2{
    position: relative;
    top: 25%;
    width: 92px;
    height: 41px;
    margin: auto;
    
}

.home{
    font-family: "Saira Condensed", sans-serif;
    margin-right:20px ;
    color: #4586d5;
}

.n{
    font-family: "Saira Condensed", sans-serif;
    margin-right:30px ;
}
.n,.home{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}
 
/* end navbar */

/* start keeping your */
.hero{
    width:100%;
    height: 800px;
}

.mor{
    width: 650px;
    height: 360px;
    padding: 45px 50px 60px;
    position: absolute;
    top:290px;
    left:60px;
    background-color: white;
    max-width: 650px;
    padding: 45px 50px 60px;
    margin: auto;
    
}
.text-hero{
    font-family:"Saira Condensed",sans-serif;
    font-size: 48px;
    text-align: left;
    font-weight: 600;
    line-height: 65px;
    font-variant-caps : all-petite-caps;
   
}
.text-hero2{
    font-family:'Mulish', sans-serif ;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5px;
    margin: 35px 0px ;
 
}
.button-hero{
    width: 168px;
    height: 53px;
    background-color: #fad110;
    font-family:"Saira Condensed",sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.5px;
    font-weight: 700;
    padding: 14px 36px 12px 36px;
    border: none;

    font-variant-caps: all-petite-caps;
   
}
/* end keeping your */